# Core RL
gymnasium[all]==1.0.0
stable-baselines3[extra]>=2.3.0
torch>=2.1.0
numpy>=1.24.0

# GUI Rendering & Virtual Display
pyvirtualdisplay>=3.0
Pillow>=10.0.0
moviepy>=1.0.3
pygame>=

# Utilities
matplotlib
tqdm
openpyxl
pandas
cv2